.similar-card {
    background-color: #1A1A1A;
    max-width: 180px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.similar-poster {
    position: relative;
}


.similar-info {
    text-align: center;
    padding: 5px 0 5px;
    background-color: #1A1A1A;
}

.similar-info h5 {
    background-color: #1A1A1A;
    color: #BFBFBF;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    padding: 0 5px 0 5px;
}

.inline {
    display: inline-block;
}

.similar-descr-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px;
    display: none;

}

.similar-descr {
    margin-bottom: 10px;
}

.similar-poster {
    min-height: 280px;
    background-image: url("https://i.pinimg.com/736x/e2/cd/4e/e2cd4ed0bc35a3f57db4cb4eba9a6342.jpg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.similar-img {
    height: 280px;
    width: 100%;
}

.similar-card:hover {
    box-shadow: 0 0 5px 2px #007BFF;
}

.similar-card:hover .similar-descr-block {
    display: block;
}
